:root {
  --color-granite: #252629;
  --color-foam: #ffffff;
  --color-nemo: #ff4a11;
  --color-water: #f3f5f9;
}

.app {
  font-family: sans-serif;
  text-align: center;
}

/* Add this to your styles.css file */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
