*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
  min-height: 100dvh;
  background-color: rgb(23, 17, 49);
  align-content: center;
}

h2 {
  line-height: 1.5;
}

p {
  line-height: 2;
}

/* Decoration
Place the blob elements behind the hero card so that parts
of them are visible and parts are covered by the card.

Hint: The z-index can also be negative!
*/

.hero-card {
  position: relative;
  max-width: 550px;
  margin-inline: auto;
  background-color: rgb(213, 212, 218);
  color: rgb(28, 33, 56);
  padding: 24px 32px;
  border-radius: 12px;
}

.blob-1 {
  position: absolute;
  z-index: -2;
  width: 400px;
  height: 300px;
  background: linear-gradient(to bottom left, #f6997d, #ff4a11, #943215);
  border-radius: 16px;
  rotate: -15deg;
  top: -100px; /* Move up from the top of the hero card */
  left: -150px; /* Move left from the left edge of the hero card */
}

.blob-2 {
  position: absolute;
  z-index: -1;
  width: 200px;
  height: 200px;
  background: linear-gradient(
    to bottom left,
    #2e016d,
    #3f0097,
    #8336ff,
    #d15eff
  );
  border-radius: 50%;
  rotate: 280deg;
  bottom: -81px; /* Position from the bottom of the hero card */
  right: -50px; /* Position from the right edge of the hero card */
}
